extends layout

block content
    p hey #{title}
    p without token
    form(method="POST" name='contactForm' action="/transfer")
        .form-group
            label amount
            input.form-control(type='text', name='amount' placeholder='Enter the amount to transfer')
        .form-group
            label  dest
            input#to.form-control(type='text', name='dest' placeholder='Enter the account to transfer to')
            br
        .form-group
            button.btn.btn-primary(type='submit') Submit

    p with token
    form(method="POST" name='contactForm' action="/tokenTransfer")
        input(type="hidden" name="_csrf" value="#{csrfToken}")
        div
           label amount
           input(type='text', name='amount1')
        div
           label to
           input(type='text', name='dest1' )
        div
           input(type='submit', value='Update Profile')



