extends layout

block content
    p hey #{title}
    form(method="POST" action="/transfer")
        .form-group
            label(for='to') amount
            input.form-control(type='text', name='username' placeholder='Enter the amount to transfer')

        .form-group
            label(for='to')  To
            input#to.form-control(type='text', placeholder='Enter the account to transfer to')
            br
        .form-group
            button.btn.btn-primary(type='submit') Submit